<%-include("partials/header.ejs")-%>
    <div class="container">
        <h1>Bem vindo ao AForum!</h1>
        <hr>
        <div>
            
        </div>
    </div>
<%-include("partials/footer.ejs")-%> 