<%-include("partials/header.ejs")-%> 
    <div class="container" style="width: 70%; margin-top:80px;">
        <div class="card">
            <div class="card-header"> 
                <h2>Qual a sua dúvida?</h1>
            </div>
            <div class="card-body">                
                <div>
                    <form method="POST" action="/createThread">
                        <input name="title" type="text" placeholder="Qual a sua dificuldade?" class="form-control">
                        <br>
                        <textarea name="content" placeholder="Descreva sua dúvida" class="form-control"></textarea> 
                        <button id="btn01" class="btn btn-success">Postar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%-include("partials/footer.ejs")-%>