<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a href="/" class="navbar-brand"><img src="/img/AForum-Logo.png" width="128px"></a>
        <a href="/thread">Nova Thread</a>
    </div>
</nav>