<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a href="/" class="navbar-brand"><img src="/img/AForum-Logo.png" width="128px"></a>
        <a href="/newthread"><button id="btn01" style="background-color: rgb(137, 173, 240);">Nova Thread</button></a>
    </div>
</nav>